
<div class="container-fluid mx-auto p-6">

  <nav class="bg-customBlue text-white p-4 mb-6">
    <div class="flex justify-between items-center">
      <!-- Language Switcher -->
      <div>
        <button (click)="switchLanguage('en')" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
          {{ 'English' }}
        </button>
        <button (click)="switchLanguage('sin')" class="ml-2 px-4 py-2 bg-green-500 text-white font-semibold rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">
          {{ 'සිංහල'}}
        </button>
      </div>

      <!-- Navigation Buttons -->
      <div>
        <button (click)="navigateToAddCar()" class="px-4 py-2 bg-indigo-600 text-white font-semibold rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          {{ 'ADD_CAR.DESC_CAR' | translate }}
        </button>
        <button (click)="navigateToAddJob()" class="ml-2 px-4 py-2 bg-green-600 text-white font-semibold rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">
          {{ 'ADD_JOB.DESC_JOB' | translate }}
        </button>
      </div>
    </div>
  </nav>


    <!-- <app-add-car></app-add-car>
  <app-add-job></app-add-job> -->
   <app-dashboard></app-dashboard>  
   <router-outlet></router-outlet>
  </div>
  